<div class="bg-light align-items-center">
  <div class="row justify-content-md-center align-items-center">
    <h2>Tarifs</h2>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th> Débutant <br/> 3,50€/mois</th>
      <th> Professionnel <br/> 5€/mois</th>
      <th> Team <br/> 25€/mois</th>
    </tr>
    </thead>
    <tr>
      <td> Pas de pub <br/>
        Dates limites et rappels <br/>
        Suivre les invitations aux réunions
      </td>
      <td> Pas de pub <br/>
        Dates limites et rappels <br/>
        Suivre les invitations aux réunions <br/>
        Logo et image de marque personnalisés <br/>
        URL de planification personnalisé
      </td>
      <td> Pas de pub <br/>
        Dates limites et rappels <br/>
        Suivre les invitations aux réunions <br/>
        Logo et image de marque personnalisés <br/>
        URL de planification personnalisé <br/>
        Gestion de plusieurs utilisateurs <br/>
        Robot doodle pour Slack
      </td>
    </tr>
  </table>
  <div class="row justify-content-md-center align-items-center">

    <div class="col-md-6">
      <button type="button" class="btn btn-info btn-block"
              routerLink="/moncompte">Retour
      </button>
    </div>
  </div>
  <br>
</div>
