<div class="bg-light align-items-center">
  <br>
  <div class="row justify-content-md-center">
    <h2>Réunissez tout le monde au créneau choisi!</h2>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img width="35" height="35" src="https://img.icons8.com/material/24/000000/calendar-2.png"/>
      <span>Suggérez des dates et des créneaux</span>
    </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img width="35" height="35" src="https://img.icons8.com/material/24/000000/filled-sent.png"/>
      <span> Lancez les invitations à vos amis!</span>
    </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img width="35" height="35" src="https://img.icons8.com/material/24/000000/star--v1.png"/>
      <span> Sélectionnez la meilleure proposition!</span>
    </div>
  </div>

  <!--<div class="row justify-content-md-center">
    <div class="col-md-2">
      <img src="https://img.icons8.com/material/24/000000/calendar-2.png"/>
    </div>
    <div class="col-md-2">
      <img src="https://img.icons8.com/material/24/000000/filled-sent.png"/>
    </div>
    <div class="col-md-2">
      <img src="https://img.icons8.com/material/24/000000/star--v1.png"/>
    </div>
    <br>
    <div class="row justify-content-md-center">
      <div class="col-md-5">
        <p> Suggérez des dates <br/> et des créneaux</p>
      </div>
      <div class="col-md-5">
        <p> Lancez les invitations <br/> avec le pseudo de vos amis!</p>
      </div>
      <div class="col-md-5">
        <p> Sélectionnez la meilleure <br/> proposition!</p>
      </div>
    </div> -->
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-7">
      <button type="button" class="btn btn-info btn-lg btn-block" routerLink="/seconnecter">Se connecter à son compte!
      </button>
    </div>
  </div>
  <br>
  <div class="row justify-content-md-center align-items-center">

    <div class="col-md-7">
      <button type="button" class="btn btn-info btn-lg btn-block"
              routerLink="/sinscrire">S'inscrire
      </button>
    </div>
  </div>
  <br>
  <br>
</div>
<!--
<ul>
<li> <a routerLink="/seconnecter"> Se connecter à son compte!</a></li>
<li> <a routerLink="/sinscrire">S'inscrire</a></li>
</ul> -->

